@font-face {
  font-family: "Clash Grotesk";
  src: url("/assets/fonts/ClashGrotesk.ttf") format("truetype");
}

body {
  font-family: "Clash Grotesk", sans-serif;
  margin: 40px;
}

h1 {
  display: flex;
  font-size: 100px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  justify-content: start;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.main__title {
  font-size: 80px;
  font-weight: normal;
  line-height: 120px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: underline 3px;
  text-underline-offset: 10px;
}

.card__text {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 600;
}

.card__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__description {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  line-height: 1.4;
}

/* Label.css */
.label.react {
  background-color: #61dafb;
  color: black;
}

.label.javascript {
  background-color: #f7df1e;
  color: black;
}

.label.css {
  background-color: #264de4;
  color: white;
}

.label.html {
  background-color: #e34f26;
  color: white;
}

.label.scss {
  background-color: #e326aa;
  color: white;
}

.label.kotlin {
  background-color: #9111a1;
  color: white;
}

.label.android__studio {
  background-color: #1dbb44;
  color: white;
}

.label.firebase {
  background-color: #e32626;
  color: white;
}

/* Button */

.button.github {
  background-color: #aa1bbd;
}

.button.website {
  background-color: #252525;
}

/* Desktop Layout */
@media (min-width: 1110px) {
  /* Label */
  .label__container {
    display: flex;
    gap: 5px;
  }

  .label {
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    width: fit-content;
    margin-block: 10px;

    font-size: 14px;
    font-weight: 500;
  }

  /* Header */
  .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 20px;
  }

  .text__name {
    grid-area: 1 / 1 / 2 / -1;
  }

  .text__subname {
    grid-area: 2 / 1 / 3 / 5;
  }

  .image-left {
    grid-area: 3 / 1 / 6 / 3;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .photo {
    grid-area: 3 / 3 / 5 / 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .image-right {
    grid-area: 2 / 5 / 4 / -1;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

  .text__role {
    grid-area: 4 / 5 / 5 / -1;
  }

  .text__subrole {
    grid-area: 5 / 5 / 6 / -1;
  }

  .card__container {
    display: flex;
    justify-content: space-between;
  }

  .card {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card img {
    width: fit-content;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .card__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card:hover .card__content {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
  }

  .card:hover .card__photo {
    scale: 0;
  }

  /* Button */
  .button__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }

  .button {
    width: 100%;
    padding-block: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .button__text {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Clash Grotesk", sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
  }

  .button.github:hover {
    background-color: #851794;
  }

  .button.github:active {
    background-color: #651270;
  }

  .button.website:hover {
    background-color: #201f1f;
  }

  .button.website:active {
    background-color: #111111;
  }
}

/* Mobile Layout */

@media (max-width: 768px) {
  /* Label */
  .label__container {
    display: flex;
    gap: 5px;
  }

  .label {
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    width: fit-content;
    margin-block: 10px;

    font-size: 10px;
    font-weight: 500;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, auto);
    gap: 10px;
    margin-block-end: 30px;
  }

  .text__name,
  .text__subname,
  .text__role,
  .text__subrole,
  .main__title {
    font-size: 32px;
    line-height: 28px;
  }

  .text__name {
    grid-area: 1 / 1 / 2 / 4;
  }

  .text__subname {
    grid-area: 2 / 1 / 3 / 3;
  }

  .image-left {
    grid-area: 3 / 1 / 5 / 2;
    width: 100%;
    align-content: center;
    border-radius: 10px;
  }

  .photo {
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .image-right {
    grid-area: 3 / 3 / 4 / 4;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .text__role {
    grid-area: 4 / 2 / 5 / -1;
  }

  .text__subrole {
    grid-area: 5 / 2 / 6 / -1;
  }

  .card__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card > img {
    width: 310px;
    height: 230px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card__content.active {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
  }

  .card.clicked {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .card__photo.clicked {
    scale: 0;
  }

  .card__logo {
    width: 35px;
  }

  .button__container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .button {
    width: 100%;
    padding-block: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .button__text {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Clash Grotesk", sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
  }

  .button.github:active {
    background-color: #651270;
  }

  .button.website:active {
    background-color: #111111;
  }
}
